.event-date{
    background-color: #07182a;
    color: white;
    padding: 5px;
    font-weight: bold;
}

.actions{
    margin-top: auto;
    background-color: #cee1e1;
    margin-bottom: 3%;
    justify-content: space-between;
}